<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <input (input)="UpdateServerName($event)" class="form-control" type="text">
      <p>{{serverName}}</p>
      <button (click)="createServer()" class="btn btn-primary">Add Server</button>
      <p>{{serverCreationStatus}}</p>
      <app-server></app-server>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-primary" disabled>Add Server</button>
      <app-server></app-server>
    </div>
    <div class="col-sm-3">
      <H4>Is button hidden? {{hide}}</H4>
      <div [hidden]="hide">
        <button class="btn btn-primary" disabled>Add Server</button>
      </div>
      <app-server></app-server>
    </div>
    <div class="col-sm-3">
      <app-server></app-server>
    </div>
  </div>
</div>
